@import url("https://fonts.googleapis.com/css2?family=Galada&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Rye&display=swap");

:root {
  --color-primary: #e7223a;
  --color-secondary: #6f1712;
  --color-tertiary: #ba432e;
  --color-foreground: #fff8ff;
  --color-background: #360103;
  --color-shadow: #6f171280;
}

/* -- main contents */
body {
  background: black;
  color: purple;
  font-family: Inter;
  margin: 0;
}

header {
  background-color: red;
  display: flex;
  gap: 32px;
  text-align: left;
  padding: 16px 32px;
}

header nav {
  display: flex;
  gap: 8px;
  width: 100%;
}

header nav .cart {
  margin-left: auto;
}

main {
  background-color: red;
  width: 700px;
  border: 5px solid white;
  text-align: center;
  padding: 20px;
  box-shadow: 10px 10px 5px gray;
}

/* -- main contents */

.button {
  background-color: white;
  color: black;
  font-weight: 300;
  text-decoration: none;
  display: flex;
  align-items: center;
  border-radius: 0;
  padding: 4px 24px;
  font-size: 14px;
  border-radius: 4px;
  cursor: pointer;
  border: none;
  transition: transform 200ms;
}

.button:disabled {
  cursor: default;
  opacity: 0.5;
  border: none;
}

.button:not(:disabled):hover {
  transform: scale(1.05);
}

.button:not(:disabled):active {
  transform: scale(0.95);
}

marquee {
  width: 100%;
  behavior: scroll;
  direction: left;
  color: red;
  font-size: 24px;
}

blink {
  font-size: 32px;
  font-weight: 900;
  animation: blink 1s linear infinite;
}

p {
  width: 100%;
  font-weight: 400;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

form {
  display: flex;
  gap: 0px;
  text-align: left;
  margin: auto;
  flex-direction: column;
}

form .error {
  background-color: yellow;
  color: red;
  padding: 32px;
  font-weight: bold;
  font-family: Rye;
  display: none;
}

form .error[visible="true"] {
  display: block;
}

input,
select,
textarea {
  appearance: none;
  padding: 4px;
  border-radius: 4px;
  width: 100%;
  border: 1px solid black;
}

fieldset {
  margin: 0;
  padding: 0;
  border: none;
  display: flex;
  flex-direction: column;
  gap: 4px;
}

@keyframes blink {
  50% {
    opacity: 0;
  }
}
